.col {
  height: 50px;
  background-color: blue;
  border: solid 2px black;
}
.bigcol{
    height: 500px;
    background-color: blue;
    border: solid 2px black;
}
nav {
background-color: #3097D1;
}
